body {
  /* z-index: 100; */
  background-image: url('./img/Abstract-Wallpapers.jpg');
  background-size: cover; 
}

canvas {
  margin-left: 5px;
  display: block;
  padding-left: 5px;
  background: rgba(0, 0, 0, 0.7);
}

#canvas-container {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.p {
  flex-basis: 30%;
}

.btn {
  flex-basis: 25%;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: aqua;
  background-color: black;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px #21D39B;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 15px;
}

.button:hover {
  background-color:purple;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  /* transform: translateY(-7px); */
}

.active{
  width: 140px;
  height: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 15px;
  background-color: aqua;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color:black;
  transform: translateY(-7px);
}

.layout {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: aqua;
  }
  
  #title{
    margin-bottom: 5px;
    font-size: 3em;
    text-shadow: 2px 2px 1px purple;
    text-decoration: underline overline;
}